
<div class="main top-main thanks-page">
  <div class="thanks-background">
    <div class="thanks-box">
      <%= image_tag "thanks_icon.png" %>
      <p>MYVOCABへ仮登録いただき、ありがとうございます！</p>
      <p>ご登録いただいたメールアドレスにメールを送信しました。</p>
      <p>メールに記載されたURLから本登録をお済ませください。</p>
      <p><%= link_to "メールが届かない方はこちら", new_confirmation_path(resource_name) %><br /></p>
    </div>
  </div>
</div>
