<div class="main contact-thanks-page">
  <div class="container">
    <div class="box">
      <%= image_tag 'thanks_icon.png' %>
      <div class="form-heading">
        <h1>Thank you for inquiring!</h1>
        <p>お問合せいただきありがとうございます。</p>
      </div>
    </div>
  </div>
</div>
