.form-heading {
  color: white;
  text-align: center;
}

/*--------------------For PC-------------------- */
@media (min-width:770px) {

  .form-heading { color: white;}

  .post-form {

    .new-post-form-heading {
      font-size: 30px;
      font-size: 30px;
      color: white;
      text-align: center;
      padding: 10px;
    }

    .form-item {
      font-size: 27px;
      padding: 0px 7px 7px 7px;
    }

    .form-item input {
      width: 100%;
      border: 3px solid;
      border-radius: 5px;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(0, 0, 0, 0.8);
    }

    .form-item textarea {
      width: 100%;
      border: 3px solid;
      border-radius: 5px;
      padding: 10px;
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(0, 0, 0, 0.8);
    }

    .form-item input:hover, textarea:hover {
      color: white;
    }

    ::placeholder {color: rgba(255, 255, 255, 0.6);}

    .form-item-content {
      font-size: 50px;
    }

    .submit {
      text-align: center;
      margin-top: 10px;

      input[type="submit"] {
        color: rgba(255, 255, 255, 0.6);
        padding: 10px;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.8);
        border: 3px solid;
        border-radius: 5px;
      }

      input[type="submit"]:hover {
        background-color: rgba(0,139,139 ,0.5 );
        color: white;
      }
    }
  }
}

/*--------------------For PHONES-------------------- */
@media (max-width:767.98px) {

  .form-heading {
    margin: 5px 0;
  }

  .post-form {
    margin: 0 5px;

    .form-item {
      margin-bottom: 5px;
      font-size: 14px;

      input, textarea {
        width: 100%;
        border: 3px solid;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.8);
        padding: 7px;
      }

      input {
        text-align: center;
      }

      textarea {}

    }
    .form-item-content {
      font-size: 45px;

    }
    .submit {
      input {
        color: rgba(255, 255, 255, 0.6);
        width: 100%;
        padding: 10px;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        border: 3px solid;
        border-radius: 30px;
      }
    }
  }
}
