/* posts/index ================================ */
.posts-index {
  height: 900px;
  background-image: url(background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.posts-index-container {
  background-size: 1150px 720px;

  .posts-new-index-container {
    display: flex;
  }
}

.new-post-form {
  width: 40%;
  border: 1px solid white;

  .form-item {

  }
}

.posts-index-box {
    column-count: 2;
    height: auto;
    width: 60%;
}

.posts-index-box div {
  page-break-inside: avoid;
  break-inside: avoid;
}

.posts-index-item {
    margin-bottom: 7px;
    padding: 5px 5px 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #bfbbaa;
}

.posts-index-item a {
  color: #3c393e;
}

.post-left {
    float: left;
    border-right: 2px solid #bfbbaa;
    padding-right: 10px;
}

.post-left img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 3px #c1ced7;
    object-fit: cover;
}

.post-item-username {
    float: left;
    width: 100%;
}

.post-item-content {
    font-size: 25px;
    text-align: center;
    margin-left: 60px;
    margin-top: 15px;
    height: 60px;
    padding: 5px;
    display: block;
}

.post-item-content a {
    display: block;
    padding-bottom: 20px;
    cursor: pointer;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

/* posts/show ================================ */

.posts-show {
  background-color: black;
  height: 900px;
}

.posts-show form {
  display: inline;
}

.post-show-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding-top: 30px;
}

.posts-show-item-box {
    padding: 40px;
    background-color: rgba(191,187,170,0.6);
    overflow: hidden;
    width: 50%;
    height: 650px;
    margin: 10px;
    border-radius: 20px;
    color: black;
}

.post-user-name {
    float: right;
    margin: -30px;
}

.post-user-name img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  /*box-shadow: 0 2px 6px #c1ced7; */
  background-color: black;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item-box .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
  color: black;
}

.posts-show-item-content {
    font-size: 60px;
    line-height: 45px;
    text-align: center;
}

.posts-show-item-meaning {
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
}

.posts-show-item {
    padding: 0 10px 10px 10px;
}

.item-header {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 5px;
}

.posts-show-item p {
    border-bottom: 2px dashed;
    margin-left: 20px;
    font-size: 20px;
}

.posted-time {
    color: #8899a6;
    margin: 30px 0 0 30px;
    display: inline-block;
}

.post-menus {
    display: inline-block;
    float: right;
    text-align: center;
    padding: 10px;
}

.post-menus a, .post-menus input {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.post-menus a {
    border: 1px solid;
    padding: 10px;
    display: inline-block;
    width: 100px;
}

.bookmarked-icon {
    float: left;
    font-size: 40px;
    margin-left: 20px;
}

.book-image img {
    width: 1050px;
    margin: -20px 0 0 40px;
}

.post-show-image-box {
    background-image: url(background_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* posts/pagenation =========================*/
.pagination-box {
    width: 60%;
    margin: 0 0 0 auto;
    text-align: center;
}

ul.pagination {
    margin: 0 auto;
}

.pagination>li>a, .pagination>li>span {
  color: white !important;
  background-color: rgba(0, 255, 255, 0.4) !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: rgba(0, 255, 255, 0.6) !important;
}

/* posts/new ================================*/

.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}


/* posts/edit ================================*/

.posts-edit {
  width: 100%;
  height: 800px;
  background-image: url(background_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.posts-edit-contaier {
  padding-top: 30px;
}

.posts-edit-form {
  padding: 40px;
  background-color: rgba(191,187,170,0.7);
  overflow: hidden;
  margin: 0 25%;
  border-radius: 20px;
  color: black;
}

.posts-edit-form-body {
    height: 570px;
}

.posts-edit-form-item {
    padding-bottom: 35px;
}

.posts-edit-form-item label {
    font-size: 20px;
    width: 100px;
    vertical-align: top;
    text-align: center;
}

.posts-edit-form-item input, textarea {
    width: 500px;
    background-color: rgba(191,187,170,0.5);
    outline: none;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    font-size: 17px;
}

.posts-edit-form-item textarea {
    height: 120px;
}

.posts-edit-action {
    border: 1px solid;
    padding: 10px;
    width: 120px;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

.posts-edit-action:hover {
  background-color: rgba(255,255,255,0.6)
}
