// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* users/index ================================ */

/* .mainはuser関係の全ページに適応されてる */

.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* users/show ================================ */
.user-show {
  background-image: url(background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;

  .container {
    padding-top: 100px;
    display: flex;

    .user-box {
      width: 50%;

      .user {
        max-width: 500px;
        height: 345px;
        margin: 0 auto;
        padding: 50px;
        border: 3px solid;
        border-radius: 20px;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.8);


        img {
          width: 100px;
          height: 100px;
          border-radius: 15px;
          border: 1px solid white;
          object-fit: cover;
          margin-bottom: 20px;
        }

        .user-name {
          font-size: 40px;

        }

        .user-email {
          font-size: 30px;

        }
      }
    }

     .btn {
       display: block;
       text-align: center;
       margin-top: 30px;


       a {
         color: rgba(255, 255, 255, 0.6);
         padding: 10px;
         font-size: 25px;
         background-color: rgba(0, 0, 0, 0.8);
         border: 3px solid;
         border-radius: 5px;

         &:hover {
           background-color: rgba(0,139,139 ,0.5 );
           color: white;
         }
       }
     }
  }
}

/* users/new,
   users/edit,
   users/password/new,
   users/confirmations/new,
   =============================== */

.users-new {
  text-align: center;
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("top.jpg");
  background-color:rgba(255,255,255,0.1);
  background-blend-mode:lighten;
}

.users-edit {
  background-image: url(background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;

  .container {
    .users-form {
      max-width: 500px;
      height: 345px;
      margin: 0 auto;
      padding: 30px;
      margin-top: 100px;
      border: 3px solid;
      box-shadow: none;
      border-radius: 20px;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(0, 0, 0, 0.8);

      .form-item {
        padding-top: 10px;
        letter-spacing: 1px;
        font-size: 15px;


        label[for="image"] {
          display: block;
          text-align: center;

          .fa-images {
              border-radius: 25px;
              padding: 10px 20px;
              font-size: 25px;
              color: black;
              background-color: rgba(255, 255, 255, 0.6);;

              &:hover {
                cursor: pointer;
                background-color: rgba(0,139,139 ,0.7 );
                color: white;
              }
          }
        }
      }
    }
    .btn {
      display: block;
      text-align: center;
      margin-top: 30px;

      input {
        color: rgba(255, 255, 255, 0.6);
        padding: 10px 10px 10px 15px;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.8);
        border: 3px solid;
        border-radius: 5px;

            &:hover {
              background-color: rgba(0, 139, 139, 0.5);
              color: white;
            }
      }
    }
  }
}
/* users/password/new ================================ */
