

<p>We're contacting you to notify you that your password has been changed.</p>

<p>※このメールは自動送信メールです。</p>

<p><%= @resource.email %>  様</p>

<p>MYVOCAB事務局でございます。</p>
<p>パスワードが変更されたことをお知らせいたします。</p>
<p>今後ともよろしくお願いいたします。</p>

<p>
覚えがないのにこのメールが届いたという方<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>

<p>myvocab.2021@gmail.com</p>
